@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
#title{
  background-color:#ff4c68;
  position: relative;
  height: 810px;

}

h1{
  font-family: 'Montserrat', sans-serif;
  size:3em;
  line-height: 2;
  color:white;
  margin-bottom: 150px;
  font-size: 50px;
  position: relative;
  top:100px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  line-height: 1.5;

}
.container-fluid{
  padding: 3% 15%;
}
.hi1{
  width: 10%;
  border-radius: 50%;
  left: 60px;
  top: 129px;
  right:100px;
  z-index: 0;
  
}
.hi{
  width: 100%;
  position: absolute;
  border-radius: 70%;
  left: 20px;
  top: 70px;
  right:100px;
  z-index: 0;
  /* transform: rotate(25deg); */

}

/* Navigation Bar */
.navbar-brand{
  font-family:"Ink free","MV Boli",Arial, Helvetica, sans-serif;
    font-style:italic;
    /*font-weight: bold;*/
    font-size: 25px;
    text-decoration:normal;
    color:rgb(25, 151, 74);

}
.nav-item{
  padding-left: 18px
}
.nav-link{
  font-family: 'Montserrat'
}
.navbar{
  padding-left: 0;
  padding-bottom:50px;

}
/* Download Buttons */
.lowlife{
  margin: 0 3% 38% 0;

}
/* Features */
.fa-check-circle{
  color:#ef8172;
  margin-bottom: 1rem;

}
.fa-bullseye{
  color:#ef8172;
  margin-bottom: 1rem;
}
.fa-heart{
  color:#ef8172;
  margin-bottom: 1rem;
}

#features{
  padding: 8.5% 15%;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 1;


}
.new{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.new1{
  color: #8f8f8f;
  font-size: 1rem;
}
.fa-check-circle:hover, .fa-bullseye:hover, .fa-heart:hover{
  color: #ff4c66;
}
/* Testimonial Sections */
.carousel-item{
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.doggy{
  border-radius: 100%;
  width: 30%;
  margin:20px
}
/* Press */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}
.test{
  width: 15%;
  margin:20px 20px 20px 50px;
}
#pricing{
  padding: 100px;
  text-align: center;
}
.pri{
  padding: 3% 2%
}
@media (max-width:1028px){
  #title{
    text-align: center;
    height: auto;

  }
  .hi{
    position: static;
    transform: rotate(0);
  }
}
#cta{
  background-color: #ff4c68;
  font-family:  'Montserrat', sans-serif;
  color: white;
  text-align: center;
  position: relative;
  bottom:60px;

}
.ctaimg{
  margin-right: 3%;
  margin-bottom: 5%;
  position:relative;
  bottom: 42px;


}
.ctatxt{
  line-height:2;
  margin:10%;
  padding-top: 100px;
  font-size: 3.75rem;
}
#footer{
  text-align: center;
}
.fimg{
  margin-right: 1%;
  line-height: 4;
}
.j{
  border-radius: 100%;
}
.animate-charcter
{
  margin-top: 100px;
  margin-bottom: 120px;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 20%;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 50px;
  position: absolute;
  margin-left: 150px;
  margin-top: 200px;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03f45f;
}

.content h2:nth-child(2) {
  color: #03f4ec;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}